@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}

:root {
    --main-color: #286983;
    --secondary-color: #34738e;
}

html {
    scroll-behavior: smooth;
}

body {
    width: 100%;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}

.flex {
    display: flex;
}

/** NAVBAR *************/
.navbar {
    align-items: center;
    justify-content: space-between;
}

.default-padding {
    padding: 2rem 4vw;
}

.navbar .logo a {
    color: var(--main-color);
    font-size: 20px;
    font-weight: 700;
}

.navbar .logo a i {
    margin-right: 0.3rem;
}

.navbar a {
    color: rgba(0, 0, 0, 0.5);
    font-size: 18px;
    transition: 0.2s ease-in-out;
    font-weight: 600;
}

.navbar a:hover,
.navbar a:focus-within {
    color: var(--main-color);
    outline: none;
}

.menu li {
    margin-right: 2rem;
}

.auth,
.right {
    align-items: center;
}

.auth a:not(:last-of-type) {
    margin-right: 2rem;
    margin-left: 1.5rem;
}

.auth a button {
    padding: 0.8rem 1rem;
    border-radius: 3px;
    border: none;
    background: var(--main-color);
    color: #fff;
    font-size: 18px;
    cursor: pointer;
}
